
/* Reset some default browser styles */
body, h1, h2, ul, li, p, article {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

header {
    background-image: url('header-background.jpg');
    background-size: cover;
    background-position: center;
    color:black;
    text-align: center;
    padding: 100px 0;
}

nav ul {
    list-style-type: none;
    background-color: #333;
    text-align: center;
    padding: 10px 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff5733; /* Change to your preferred hover color */
}

main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

article {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

article:hover {
    transform: scale(1.03); /* Add a subtle hover effect */
}

article img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

article h3 {
    font-size: 24px;
    margin: 10px 0;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-size: 18px;
}
